<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ikalne.meetmap">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetMap"
        tools:targetApi="31">

        <activity
            android:name="com.ikalne.meetmap.Initial"
            android:exported="false" />
        <activity
            android:name="com.ikalne.meetmap.Profile"
            android:exported="false" />
        <activity
            android:name="com.ikalne.meetmap.EditProfile"
            android:exported="false" />
        <activity
            android:name="com.ikalne.meetmap.Chat"
            android:exported="false" />
        <activity
            android:name="com.ikalne.meetmap.ChatList"
            android:exported="false" />
        <activity
            android:name="com.ikalne.meetmap.InfoActivity"
            android:exported="false" />
        <activity
            android:name="com.ikalne.meetmap.ActivitiesList"
            android:exported="false" />

        <activity
            android:name="com.ikalne.meetmap.Login"
            android:exported="false"
            android:theme="@style/MyTheme.NoActionBar"/>
        <activity
            android:name="com.ikalne.meetmap.SignUp"
            android:exported="false"
            android:theme="@style/MyTheme.NoActionBar"/>
        <activity
            android:name="com.ikalne.meetmap.Splash"
            android:theme="@style/MyTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>